# Server
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=12345
DB_DATABASE=food-app-db

# Admin Account
ADMIN_EMAIL=admin@gmail.com
ADMIN_DEFAULT_PASSWORD=admin123

# JWT
JWT_SECRET=12345
JWT_REFRESH_SECRET=123456789
JWT_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=10d

# Security
SALT_ROUND=3